h1{
  text-align: center;
}
hr{
  border-top: 3px solid #9bad9e;
}
.row{
  margin-top: 10%;
  margin-right: 0px;
  margin-left: 0px;
  text-align: center;
}
.jumbotron{
  text-align: center;
  background-color: #D0E0D3;
}
.jumbotron p{
  text-align: left;
}
.jumbotron pre{
  text-align: left;
}
.col-centered{
float: none;
margin: 0 auto;
}
button{
  margin-top: 10px;
}
.demo{
  margin-top: 40px;
}
.footer1 {
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
}
p.boldfont{
  font-weight:300;
}
p.large{
  font-size: 130%;
  text-align: center;
}
body{
  background-color: #ECF0F1;
}
br{
  margin-bottom: 30px;
}
